*,
html, 
body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Silkscreen', cursive;
}

:root {
    --bg-primary: rgb(107, 32, 0);
    --bg-secondary: rgb(153, 103, 81);
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
}

.bg-prim{
    background-color: var(--bg-primary);
}

.bg-secon{
    background-color: var(--bg-secondary);
}

.txt-prim{
    color: var(--txt-primary);
}

.absolute-bottom {
    bottom: 20px;
}

.modal{
    width: 350px;
}

.h-215{
    height: 215px;
}

.me-15{
    margin-right: 60px !important;
}

.pagination .page-item .page-link{
    padding: 5px 15px !important;
    font-size: 20px;
}

.modal {
    display: none;
}

.display-block{
    display: block !important;
}
